[user]
  name = Robert Pearce
  email = me@robertwpearce.com

[github]
  user = rpearce

[alias]
  a = add
  amend = commit --amend
  c = commit
  ca = commit --amend
  ci = commit -a
  co = checkout
  d = diff
  dc = diff --changed
  ds = diff --staged
  f = fetch
  loll = log --graph --decorate --pretty=oneline --abbrev-commit
  m = merge
  one = log --pretty=oneline
  outstanding = rebase -i @{u}
  praise = blame
  s = status
  unpushed = log @{u}
  wc = whatchanged
  wip = rebase -i @{u}
  zap = fetch -p

[core]
  editor = nvim

[credential]
  helper = osxkeychain

[fetch]
  prune = true

[grep]
  lineNumber = true

[help]
  autocorrect = 1
